* {
  border: 0;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-size: 16px;
}

/* ? fonst awsome icon styles START  here  */
.fa-solid {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.fa-solid.fa-bars {
  display: none;
}
/* ? fonst awsome icon styles END  here  */

/* ! CONATINER  */
.container {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
}
/* ! CONATINER  */

/*! NAVBAR STYLES START here */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo h2 {
  color: rgb(58, 58, 58);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
.header-logo h2,
.nav-list h2 {
  margin: 0;
}
.nav-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  text-align: center;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
nav ul li {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/* !nav list complete here */

/* ! banner sectipo START here */

.banner-container {
  border-radius: 16px;

  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group 13 (1) (1).png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 2% auto;
}
.banner {
  width: 70%;
  margin: 0% auto;
  padding: 2%;
  text-align: center;
}
.banner-title {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 800;
  margin: 1% auto;
}
.banner-desc {
  color: rgb(255, 255, 255);
  margin: 2% auto;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 6% auto;
}
.btn,
.select {
  color: rgba(19, 19, 24, 0.5);
  width: 130px;
  height: 40px;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.btn {
  background: rgb(255, 84, 0);
  color: white;
}

/*! banner sectipo END here */

/* card  */
.destination-content {
  margin: 5% auto;
  text-align: center;
  width: 60%;
}
.destination-title {
  color: rgb(19, 19, 24);
  font-size: 2rem;
  font-weight: 800;
  margin: 2% auto;
}
.item1 {
  grid-area: first;
}
.item2 {
  grid-area: second;
}
.item3 {
  grid-area: third;
}
.item4 {
  grid-area: fourth;
}
.item5 {
  grid-area: fifth;
}
.item6 {
  grid-area: six;
}
.item7 {
  grid-area: seventh;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "first first first first second second  second second"
    "third third fourth fourth fourth fourth fifth fifth"
    "six six six seventh seventh seventh seventh seventh";
  gap: 1%;
  margin: 8% auto;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  height: 95%;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7 {
  position: relative;
}

.center {
  font-size: xx-large;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .news-letter-container */
.news-letter-container {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.news-input-container {
  border: 2px solid rgb(255, 84, 0);
  padding: 10px;
  border-radius: 10px;
}
.input {
  width: 250px;
  border-radius: 8px;
  padding: 8px;
  margin: 10px auto;
  background: rgba(19, 19, 24, 0.05);
}
.news-letter-image {
  height: 35%;
  position: relative;
}
.discount {
  border-radius: 16px;
  height: 70px;
  width: 180px;
  text-align: center;
  color: white;
  padding: 10px;
  background: rgb(255, 84, 0);
  transform: rotate(-35deg);
  position: absolute;
  bottom: 20%;
  right: 0;
  margin: 0;
}
/* .news-letter-container */
/*! our-tour section START here */
.our-tour-container {
  margin: 3% auto;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}
.content {
  text-align: left;
}
.content-title {
  color: rgb(58, 58, 58);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3%;
}

.photo {
  background-image: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
}
/* !our-tour section END here */

/* !Body container part START here */
.body-container {
  width: 80%;
  margin: 0% auto;
  padding: 5px;
}

/* !Body container part END here */

/* !footer section START here */
.footer-container {
  background: rgba(19, 19, 24, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5% auto 2%;
  padding: 20px;
}
.logo {
  color: rgb(255, 84, 0);
  font-size: 35px;
  text-align: center;
}
.line {
  background-color: red;
}
.fa-globe {
  font-size: 35px;
  margin-right: 10px;
}

.footer-title {
  font-size: 20px;
  font-weight: bold;
  margin: 5px auto;
}

.footer-desc {
  font-size: 18px;
  font-weight: 700;
  margin: 5px auto;
}
.footer-list {
  padding: 5px;
  list-style: none;
  margin: 3% auto;
  display: flex;
  justify-content: center;
}

.fa-brands {
  margin-right: 50px;
}

/* !footer section END here */

/* !styles for small devices */

@media screen and (max-width: 768px) {
  /*! navbar part START here */

  /* ?fontawsome START styles here  */
  .fa-bars {
    margin-top: 25px;
  }
  .fa-magnifying-glass {
    margin-top: 10px;
  }
  .fa-solid.fa-bars {
    display: block;
    margin: 0%;
  }
  /* ?fontawsome styles END here  */

  .header-container {
    margin: 0%;
  }
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .list-items {
    height: 5px;
    display: none;
  }
  /* !navbar part END here */

  /* !Banner part START here */
  .our-tour-container {
    flex-direction: column-reverse;
    text-align: center;
    margin: auto;
  }
  .photo {
    margin: 5% 0%;
  }
  .photo img {
    width: 100%;
    height: 100%;
  }

  .content-title,
  .content-info {
    text-align: left;
  }

  /* .input-container */
  .input-container {
    flex-direction: column;
  }
  .btn,
  .select {
    width: 250px;
  }
  /* .input-container */

  .destination-content {
    width: 90%;
  }
  .destination-title {
    font-size: 1.5rem;
  }

  .grid-container {
    grid-template-areas:
      "first first first first"
      "second second second second"
      "third third third third"
      "fourth fourth fourth fourth"
      "fifth fifth fifth fifth"
      "six six six six"
      "seventh seventh seventh seventh";
    margin: 10% auto 35% auto;
  }

  /* .news-letter-container  */
  .news-letter-container {
    flex-direction: column;
    gap: 20px;
  }
  /* .news-letter-container  */

  /* !Banner part END here */
}
